<div class="container">

    <div ng-hide="sensorValues.pulseHRMWithUnit">
        <p>
        <div class="alert alert-info">Select sensor</div>
        </p>
    </div>

    <div ng-hide="sensorValues.pulseHRMWithUnit" ng-repeat="device in devices">
        <p>
            <button class="btn btn-default btn-block" ng-click="connect(device.address)">{{device.name}} - {{device.address}}
            </button>
        </p>
    </div>


    <div ng-show="sensorValues.pulseHRMWithUnit">
        <h1><small>Heart rate: </small>{{sensorValues.pulseHRM}} <small>bpm</small></h1>
        <h1 ng-show="sensorValues.recoveryPulseHRM"><small>Recovery: </small>{{sensorValues.recoveryPulseHRM}} <small>bpm</small></h1>
        <p>
        <button class="btn btn-default btn-block" ng-click="saveHRM(sensorValues.pulseHRM)">Save heart rate to cloud
        </button>
        </p>
        <p>
            <button ng-hide="streamingInterval" class="btn btn-default btn-block" ng-click="saveHRMStreaming()">Save every 60 seconds
            </button>
            <button ng-show="streamingInterval" class="btn btn-default btn-block" ng-click="stopHRMStreaming()">Stop periodic save
            </button>
        </p>
        <div class="container" ng-show="message">
            <div class="alert alert-info">{{message}}</div>
        </div>
    </div>

    <div ng-show="sensorValues.pulseHRMWithUnit">
        <h1 ng-show="recoveryHeartRate"><small>Start: </small>{{recoveryHeartRate}} <small>bpm</small></h1>
        <p ng-show="recoveryHeartRate">{{secondsPassed}} seconds passed</p>
        <h1 ng-show="recoveryHeartRateOneMin"><small>At 1 min: </small>{{recoveryHeartRateOneMin}} <small>bpm</small></h1>
        <h1 ng-show="recoveryHeartRateOneMin"><small>Diff: </small>{{recoveryHeartRate-recoveryHeartRateOneMin}} <small>bpm</small></h1>
        <p/>
        <h1 ng-show="recoveryHeartRateTwoMins"><small>At 2 min: </small>{{recoveryHeartRateTwoMins}} <small>bpm</small></h1>
        <h1 ng-show="recoveryHeartRateTwoMins"><small>Diff: </small>{{recoveryHeartRate-recoveryHeartRateTwoMins}} <small>bpm</small></h1>

        <p>
            <button class="btn btn-default btn-block" ng-click="startRecovery()">Start recovery measurement
            </button>
        </p>
    </div>

</div>

<div class="container">
    <p/>

    <p/>

    <p/>

    <p/>

    <p>
        <a class="btn btn-default btn-block" href="#/settings">Settings</a></p>

    <p/>

    <p/>

    <p/>

    <p/>

    <p/>
    <p>Show bluetooth data: <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"></p>

    <p>
    <pre ng-show="checked">{{devices | json}}</pre>
    </p>
</div>
