<!DOCTYPE html>
<html ng-app="fhirApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple Auth App - Launch</title>

    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.css"/>

    <script src="cordova.js"></script>
    <script src="js/easy-ble.js"></script>


</head>
<body ng-controller="ObsController">

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Samveis</a>
        </div>
    </div>
</nav>



<ng-view/>

<div class="container" ng-show="message">
    <div class="alert alert-info">{{message}}</div>
</div>

<!--
<div class="container" ng-show="sensorMessage.message">
    <div class="alert alert-info">{{sensorMessage.message}}</div>
</div>
-->

<div ng-hide="loggedIn" class="container">Loading now...</div>

<script src="js/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>

</body>
</html>